Config(
    screen_size: 1000,
    zoom: 75,
    arrowhead_density: 10.0,
    arrowhead_size: 0.04,
    fletching_torque: 100.0,
    fletching_min: 0.01,
    fletching_min_vel: 5.0,
    fletching_max_torque: -20.0,
    throw_mul: 0.05,
    throw_max: 20.0,
    pickup_cooldown: 350.0,
    pickup_switch: 150.0,
    pickup_empty_angle: 180.0,
)