Config(
    screen_size: 500,
    zoom: 50,
    arrowhead_density: 10.0,
    arrowhead_size: 0.04,
    fletching_torque: 100.0,
    fletching_min: 0.01,
    fletching_min_vel: 5.0,
    fletching_max_torque: -20.0,
)